
#overview{
    height: 600px;
    width: 100%;
    background-image: url(./image/bg-image.jpg);
    background-repeat:no-repeat ;
    background-position: left 10% bottom 20%;
    background-size: cover;
    padding: 10px;
    background-attachment: fixed;
}
.section-title {
    color:#1565c0;
    text-align: center;
}
.plan__list {
    width: 65%;
    margin: auto;

}
.plan {
    width:25%;
    padding: 8px;
    margin: 18px ;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #424242;
    box-shadow:0 0 25px 5px rgba(0 , 0 ,34 ,0.07) ;
}
.plan__highligted {
    background: #e3f2fd;
    color: #1565c0;

}
.plan__title__highlighted {
background: white;
    padding: 8px;
    border-radius: 3px;
}

.plan__features {
    list-style: none;
    padding: 0;
    margin: 8px 0;
}
.plan__btn {
background: #1565c0;
    color: white;
    font: inherit;
    border: none;
    padding: 4px 16px ;
    border-radius: 3px;
    font-weight: bold;
}
#features {
    background: white;
    margin-top: 80px;
    padding: 16px;
}
#features  .section-title {
    margin: 32px;
}
.features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}
.features__list--element {
    display: inline-block;
    width: 27%;
}
.features__description {
    text-align: center;
    font-weight: bold;
    color:#1565c0 ;
}
.features__image {
    background: #bbdefb;
    width: 128px;
    height: 128px;
    border: 1px solid #42a5f5;
    border-radius: 50%;
    margin: auto;

}
