@import '_variables.scss';
@mixin display-flex() {
    display: flex;
}
* {

    box-sizing: border-box;
}
#overview{
    height: 60vh;
    width: 100vw;
    background: linear-gradient(to right, #ef8e38, #108dc7);
    /*  background-image: url(./image/bg-image.jpg);*/
    /* background-repeat:no-repeat ;*/
    /* background-position: left 10% bottom 20%;*/
    /* background-size: cover;*/
    /* padding: 10px;*/
    /* background-image:linear-gradient(to top,rgb(77, 166, 255) ,transparent);/*
    /* url('./image/bg-image.jpg') center/cover no repeat,
    #90caf9*/
    /*background-attachment: fixed;*/

}
@media (min-width: 40rem) {
    #overview {
        height: 60vh;
    }

}
.section-title {
    color:$main-color;
    text-align: center;
}
.plan {
    width:100%;
    padding: 0.5rem;
    margin: 1.3rem ;
    text-align: center;
    color: #424242;
    box-shadow:0 0 1.4rem 0.3rem rgba(0 , 0 ,34 ,0.07) ;
}
.plan__list {
    width: 65%;
    margin: auto;
    @include display-flex();
    align-items: center;
    justify-content: center;

}


.plan__highlighted {
    background: #e3f2fd;
    color: $main-color;

}
.plan__title__highlighted {
background: white;
    padding: 0.5rem;
    border-radius: 3px;
}

.plan__features {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}
.plan__btn {
background: $main-color;
    color: white;
    font: inherit;
    border: none;
    padding: 0.2rem 1rem ;
    border-radius: 3px;
    font-weight: bold;
}
@media (min-width: 40rem) {
    .plan {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        min-width: 12rem;
    }
}
#features {
    background: white;
    margin-top: 4.8rem;
    padding: 1rem;
}
#features  .section-title {
    margin: 2rem;
}
.features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.features__description {
    text-align: center;
    font-weight: bold;
    color:$main-color ;
}
.features__image {
    background: #bbdefb;
    width: 128px;
    height: 128px;
    border:$border;
    border-radius: 50%;
    margin: auto;

}
@media (min-width: 40rem) {
    .features__list--element {
        display: inline-block;
        width: 27%;
    }
    }

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.5);

}
.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}
.modal__action {
    border: 1px solid $main-color;
    background:  $main-color;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}
.modal__action--negative {
    background: #d81b60;
    border: 1px solid #d81b60;  
}