* {
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: 'Vazir-FD';

}


@font-face {
    src: url(../font/Vazir-FD.woff);
    font-family:'Vazir-FD';

}

.main-header{
    width: 100%;
    background-color:#6fb9ff;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-nav{
    display: flex;

} 

.main-nav__item{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.main-header__logo
{
    color: #f1f9ff;
    text-decoration:none ;
    font-size: 1.3rem;
    vertical-align: middle;
}


.main-nav__item{
    margin: 0 1rem;
    display: flex;
}
.main-nav__item a {

    text-decoration: none;
}

.main-nav__item__account a
{
    background: #e3f2fd;
    color: #1565c0;
    padding: 00.5rem 1rem ;
    border-radius: 8px;
}
.main-nav__item__account a:hover,
.main-nav__item__account a:active {
    color: #1565c0;
}
.main__footer {
    background: #424242;
    padding: 2rem;

}
.main--footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}
.main--footer__link{
    margin: 0 1rem;

}
.main--footer__link a { 
    color: #f5f5f5;
    text-decoration: none;

}

.main--footer__link a:hover ,
.main--footer__link a:active {
    color: #e0e0e0;

}
.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0 , 0 , 0.5);

}